<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THis is the BAsic Flask APp</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <input type="text" name="name" />
      <select name="buying">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <input type="submit" value="Go" />
    </form>
  </body>
</html>
