<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THis is the Succes Flask APp</title>
  </head>
  <body>
    <h2>buyin : {{ profile.buying }}</h2>
    <h2>maint {{ profile.maint }}</h2>
    <h2>doors : {{ profile.doors }}</h2>
    <h2>perso : {{ profile.persons }}</h2>
    <h2>lug_b : {{ profile.lug_boot }}</h2>
    <h2>safet : {{ profile.safety }}</h2>
    <h2>Predcition : {{ profile.carPred }}</h2>
    <br />
  </body>
</html>
