<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <title>Results : Car Evaluation Dataset</title>
    <style>
      .sticky-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary text-light sticky-top">
      <span class="navbar-brand text-light mb-0 h1"
        >🚗 Car Evaluation => Results</span
      >
    </nav>
    <div class="container m-auto p-3">
      <div class="row m-3">
        <div class="col-8">
          <h3>Car Categorical to Numericals ( Table ):</h3>
          
        </div>
        <div class="col-4">
          <img
            src="{{url_for('static', filename='dummyCar.jpg')}}"
            alt="Your Expected Car Image"
            class="img img-fluid"
          />
        </div>
      </div>
    </div>

    <nav
      class="navbar navbar-light bg-primary text-light sticky-bottom text-center justify-content-center"
    >
      <p>
        Dataset Link :
        <a
          class="text-light"
          href="https://archive.ics.uci.edu/ml/datasets/Car+Evaluation"
          >https://archive.ics.uci.edu/ml/datasets/Car+Evaluation</a
        >

        <br />

        Made with ❤ by
        <a class="text-light" href="https://github.com/Mayank-MP05"
          >@Mayank_MP5</a
        >
      </p>
    </nav>
  </body>
</html>
